*
{
	font-size: 10pt;
}

h1
{
	font-size: 1.8em;
}

body
{
	width: 100%;
}

main
{
	width: 50%;
	margin: auto;
	text-align:center;
}

li
{
	list-style-type: none;
	text-align: left;
	clear:both;
}

li span
{
	padding: 0 5px;
}

li button
{
	float: right;
}

#newTodo
{
	display: none;
}

fieldset
{
	border: none;
}

legend
{
}