<!DOCTYPE html>
<html>
	<head>
		<title>Todo!</title>
		<link rel="stylesheet" type="text/css" href="css/todo.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/todo.js"></script>
		<script type="text/javascript" src="js/uuid.js"></script>
	</head>
	<body>
		<main>
			<h1>Todo!</h1>
			<ul id="todos"></ul>
			<button id="add" type="button">+</button>
			<form id="newTodo">
				<fieldset>
					<legend>New todo</legend>
					<input id="todo" type="text">
					<button id="submit">Add</button>
				</fieldset>
			</form>
		</main>
	</body>
</html>